.container{
    font-size: medium;
    font-family: 'LEMON MILK', sans-serif;
    
}
button{
    color:black;
    background-color: #E38020;
    width: 100%;
    height: 40px;
    font-family: 'LEMON MILK', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}
h2 {
    color:white;
}
input{
    width: 97%;
    height: 20px;
}

body{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh;
    background-color: #323232;
}